@import url(style.css);
p {
  font-size: 26px;
  margin-bottom: 5px;
}

ul {
  font-size: 24px;
  margin: 5px 0px 5px 0px;
}

li {
  background-color: orange;
  color: black;
}
h1 {
  margin-top: 0px;
}
.myframe {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
}


