#wrapper{ /* Оболочка страницы сайта */ 
	width: 1300px; /* Меняется ширина страницы */ 
	margin: 0 auto;
	border-radius: 10px; /* Закругляются углы блока */ 
	min-height: 800px; 
} 
/* Шапка сайта */ 
#header{ 
	position:relative; /* Задаём блоку относительное позиционирование для того, чтобы затем размещать, в нём другие элементы и позиционировать относительно его границ поверх фоновой картинки и заголовка */ 
	height: 320px; /* Высота шапки */  
	border-radius: 10px; /* Закругляются углы блока */ 
	box-shadow: rgba(0,0,0,0.5) 0px 0px 10px; /* Тень. Визуально приподнимает блок над оболочкой */ 
	background: url(https://1.downloader.disk.yandex.ru/preview/e97ff23ade77d96501483a7a73fa7359d5854fdc0b772915880d88d2208fb7ce/inf/7ebGpxq_mO8UN8XIiH2ZO68B68UAy3XcrBQhg3_EGpdG0aNnRScFYJL5ciU4zZ7_JkgD8G0wZW4wedrRDRg2sA%3D%3D?uid=548371976&filename=%3B%3B%3B.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&tknv=v2&size=1349x656);
	background-size: cover;
	box-shadow: rgba(0,0,0,1) 0px 1px 3px; /* Тень блока */
} 

.nomer{ /*Подзаголовок (номер телефона)*/ 
	position:absolute; /* Позиционируем абсолютно подзаголовок, относительно границ блока header. Также можно разместить в шапке сайта ещё другие картинки и абзацы поверх фоновой картинки и заголовка */ 
	top:5px; /* Двигается вверх-вниз */ 
	left:680px; /* Двигается вправо-влево */ 
	font-size: 25px; /* Размер букв подзаголовка */ 
	font-style:italic; /* Курсив */ 
	font-weight:bold; /* Жирный */ 
	color:#464451; /* Цвет букв подзаголовка */ 
} 
#sidebar1{ /* Блок сайдбара */ 
	background-color: #FFD700; /* Фон блока */ 
	width: 20%; /* Ширина блока */ 
	padding: 10px; /* Отступ текста от краёв */ 
	border-radius: 10px; /* Закругляем углы блока */ 
	margin-top:0px; 
	font-family: 'Amatic SC', cursive;
	box-shadow: rgba(0,0,0,1) 0px 1px 3px; /* Тень блока */
	font-size: 36px;
} 
#sidebar2{
	background-color: #800080;
	width: 25%;
	padding: 10px;
	border-radius: 5px; 
	margin-top:0px; 
	box-shadow: rgba(0,0,0,1) 0px 1px 3px; /* Тень блока */
	font-family: 'Amatic SC', cursive;
	font-size: 36px;
} 

#marcer{ /* Галочки маркеры меню */ 
	float: left; /* Размещаем слева от текста */ 
	margin: 5px 5px 0 0; /* Двигаются вверх-вправо-вниз-влево */ 
} 

#content{ /* Блок контента */ 
	width: 100%; /* Ширина статьи */ 
	background: #000; /* Фон статьи */ 
	border-radius: 5px;  
	box-shadow: rgba(0,0,0,1) 0px 1px 3px; /* Тень блока */
	font-family: 'Amatic SC', cursive;
	color: white; /*Цвет текста в блоке контент*/
	padding: 5px 0px;
	min-height: 1000px;
} 

#content a {
	color: white;
}

.Myframe {
	width: 95%;
	height: 800px;
}

.table_authors{ 
	width: 50%;
	table-layout: auto; 
	color: inherit;
} 

.table_authors td{ 
	width: 25%; 
	word-wrap: break-word; 
	vertical-align: top; 
	text-align: center; 
} 

.table_authors td img{ 
	width: 100%; 
	height: 150px; 
	border-radius: 100px;
	border: 1.5px solid white;
	box-shadow: 0 0 7px #FFD700;
	color:#fff;
}


.table_book_info{ 
	table-layout: fixed; 
	color: white;
	background-color: #7D7D4F;
	border-radius: 10px;
	font-size: 20px;
} 

.table_book_info td{ 
	word-wrap: break-word; 
	vertical-align: top; 
} 

.table_book_info td img{ 
	width: 100%;
}

/* поле поиска */
.form-search { 
	display: inline-block; 
	width: 100%;
	height: 10px;
	font-size: 22px;
} 

.form-search input { 
	all: unset;
} 
/* Меню с кнопками*/
.menu {
	/*color:black;*/
	color:white;
	width: 100%; 
	/*background-color: #F4C03E;*/
	background-color: black;
	height: 30px;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,1) 0px 1px 3px; /* Тень блока */

}

.menu button { 
	/*color:black;*/
	color:white; 
	background-color: inherit;
	padding: 5px;
	border-radius: 5px; 
	border: none; 
	width: 100%; 
	height: 100%;
	font-family: 'Amatic SC', cursive;
	font-size: 26px;
} 

.menu button:hover { 
	/*background: #FBDA89;*/
	 background: gray;
} 
#footer{ /* Блок подвала */ 
	height:50px; /* Высота блока подвала */ 
	background-color: #000; /* Фон блока подвала */ 
	/*margin-bottom: 5px;  Отступ снизу */ 
	border-radius: 5px; /* Закруглённые углы */ 
	box-shadow: rgba(0,0,0,1) 0px 1px 3px; /* Тень блока */ 
	font-family: 'Amatic SC', cursive;
	bottom: 0px;
}  

ul.navigator {
	margin: 0; /* Обнуляем значение отступов */
	padding: 10px; /* Значение полей */
	text-align: center;
	font-size: 30px;
}

ul.navigator li {
	display: inline; /* Отображать как строчный элемент */
	margin-right: 50px; /* Отступ слева */
	padding: 3px; /* Поля вокруг текста */
}

/* форма для отправки писем */
#sform {
	display:none;
}